<div class="row">
  <div class="col-md-4">
    <img class="sake" ng-src="{{sake.imageUrl}}">
  </div>
  <div class="col-md-8">
    <h2>{{sake.brand}}</h2>
    <dl>
      <dt>Type</dt>
      <dd>{{sake.type}}</dd>
      <dt>Manufacturer</dt>
      <dd>{{sake.manufacturer}}</dd>
      <dt>Address</dt>
      <dd>{{sake.address}}</dd>
      <dt>Rice</dt>
      <dd>{{sake.rice}}</dd>
      <dt>Polishing Rate</dt>
      <dd>{{sake.polishing_rate}}</dd>
    </dl>
  </div>
</div>
