<div class="container-fluid">
  <div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class='glyphicon glyphicon-search'></i>
          </button>
    </span>
    <input ng-model="query" class="form-control" placeholder="Search">
  </div>

  <div class="row">
    <div ng-repeat="sake in sakes | filter:{brand:query}" class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img ng-src="{{sake.imageUrl}}">
        <div class="caption">
          <h3>Brand: {{sake.brand}}</h3>
          <h4>Type: {{sake.type}}</h4>
          <a href="#/sakes/{{sake._id}}" class="btn btn-primary">Detail</a>
        </div>
      </div>
    </div>
  </div>
</div>